html /* deka: removed redundant body selector */ {
	font-family: "Bookman Old Style";
	color: black;
	background: url("paper.gif");
}

/* deka: added this selector */
p.nav {
	text-indent: 0cm;
	margin: 0;
	font-size: smaller;
}

/* deka: added this selector */
p.nav-bot {
	text-indent: 0cm;
	margin: 0;
	text-align: center;
}

/* deka: added this selector */
body {
	max-width: 1000px; /* deka: added */
	margin: 0 auto; /* deka: added */
	padding: 0 8px; /* deka: added */
}

h1, p {
	font-family: "Bookman Old Style";
	color: black;
}

/* deka: added dl, dt, dd entries to make definition lists stand out from main body text. */
dl {
	margin: 0.1em 3.0em 0.1em 1.5em;
	font-size: 0.95em;
}

/* deka: added this selector */
dt {
	margin-top: 0.5em;
	font-weight: bold;
}

/* deka: added this selector */
dd {
	margin-left: 1.5em;
	font-style: italic;
}

/* deka: added */
img.middle {
	vertical-align: middle;
}

.note {
	background: yellow;
	font-style: italic;
	padding-bottom: 0;
	padding-top: 0;
	margin-left: 5em;
	margin-right: 5em;
	border-width: 0;
	border-style: none;
}

/* deka: added this class */
div.centered {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* deka: added this class */
table.centered {
	margin-left: auto;
	margin-right: auto;
}

/* deka: added this class */
p.centered {
	text-align: center;
}
