html, body {
	font-family: "Bookman Old Style";
	color: black;
	background: url("paper.gif");
}

/* deka: added this selector */
body {
	max-width: 1000px; /* deka: added */
	margin: 0 auto; /* deka: added */
	padding: 0 8px; /* deka: added */
}

h1, p {
	font-family: "Bookman Old Style";
	color: black;
}

.note {
	background: yellow;
	font-style: italic;
	padding-bottom: 0;
	padding-top: 0;
	margin-left: 5em;
	margin-right: 5em;
	border-width: 0;
	border-style: none;
}

/* deka: added this class */
div.centered {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* deka: added this class */
table.centered {
	margin-left: auto;
	margin-right: auto;
}

/* deka: added this class */
p.centered {
	text-align: center;
}
