body {
	background: url("../background.jpg");
}

/* identical to same in titlepg.css */
h1 {
	font-family: "Lucida Handwriting";
	font-style: italic;
	color: gray;
	font-size: 40pt;
	text-align: center;
}

/* identical to same in titlepg.css */
h1.author {
	font-size: 24pt;
	font-weight: normal;
}

/* deka: added this to make blockquotes be indented more like they were in old versions of IE. */
blockquote {
	margin: 1.0cm 1.5cm;
}

/* deka: removed p.selector */

p.marker-note {
	font-family: Georgia, serif;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* deka: added this entire class to use instead of table styling for the completed Marker Switch clue. */
p.marker-full {
	text-indent: 0cm;
	background: #FFFFAC;
	text-align: center;
	
	width: 76%; /* deka: added */
	max-width: 310px; /* deka: added */
	min-width: 160px; /* deka: added */
	
	padding: 2px 4px; /* deka: added */
	margin-left: auto;
	margin-right: auto;
}

p.regnote {
	text-indent: 0cm;
	background: #FFFFAC;
	font-family: "Lucida Handwriting";
	font-style: italic;
	text-align: left;
	
	/* deka: removed margin-left: 0cm and margin-right: 6cm in favor of width setting */
	width: 76%; /* deka: added */
	max-width: 480px; /* deka: added */
	min-width: 160px; /* deka: added */
	
	/* deka: removed float: left; it didn't seem to be doing anyfin without display
	change. TODO: look into original render on old engines (IE), see https://oldweb.today for renders. */
	
	padding: 1px 4px; /* deka: added */
}

p.leftnote {
	text-indent: 0cm;
	/* deka: removed font-family: "Lucida Handwriting" */
	/* deka: removed font-style: italic */
	text-align: right;
	background: #FFFFAC;
	float: left;
	margin-left: 1em;
	margin-right: 1%; /* deka: updated */
	
	/* deka: removed margin-right: 25em in favor of width setting */
	width: 25%; /* deka: added */
	max-width: 140px; /* deka: added */ 
	min-width: 110px; /* deka: added */
	
	padding-left: 4px; /* deka: added */
	padding-right: 0px; /* deka: added */
	overflow-x: hidden; /* deka: added */
}

strong.leftnote {
	background: #FFFFAC;
}

em.leftnote {
	background: #FFFFAC;
}

p.rightnote {
	text-indent: 0cm;
	/* deka: removed font-family: "Lucida Handwriting" */
	/* deka: removed font-style: italic */
	text-align: left; /* deka: updated from right */
	background: #FFFFAC;
	float: left;
	margin-left: 1em; /* deka: updated from 1cm */
	margin-right: 1%; /* deka: updated from 6cm */
	
	/* deka: removed margin-right: 25em in favor of width setting */
	width: 25%; /* deka: added */
	max-width: 186px; /* deka: added */
	min-width: 140px; /* deka: added */
	
	
	padding-right: 0px; /* deka: added */
	padding-right: 4px; /* deka: added */
	overflow-x: hidden; /* deka: added */
}

strong.rightnote {
	background: #FFFFAC;
}

em.rightnote {
	background: #FFFFAC;
}

p {
	text-indent: 2.35em;
}

p.nav {
	text-indent: 0cm;
	margin-top: auto;
	margin-bottom: 2ex;
	font-size: small;
}

/* deka: added entire .center-margins attributes */
.center-margins {
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}

table.chart {
	background: #FFFFAC;
	border: thin solid #FFFFAC;
	font-family: "Lucida Handwriting";
	font-style: italic;
	border-spacing: 8px 2px; /* deka: added */
	margin-bottom: 0.8em; /* deka: added */
}

.left-table {
	text-align: left;
	float: left;
	margin-right: 1em;
}

tr {
	border: thin solid #FFFFAC;
}

td {
	border: thin solid #FFFFAC;
}

th {
	text-decoration: underline;
}