/* common.css - Shared stylesheet with styles used across all pages on the site. */

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 8px;
	font-family: "Bookman Old Style", Bookman, "Goudy Old Style", "Calisto MT", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

p {
	margin-top: 0;
}
