/* This file has been modified for formatting; content remains the same except where otherwise specified. -deka */

body {
	background: url("background.jpg");
}

li {
	font-family: "Arial";
}

/* identical to same in myst.css */
h1 {
	font-family: "Lucida Handwriting";
	font-style: italic;
	color: gray;
	font-size: 40pt;
	text-align: center;
}

/* identical to same in myst.css */
h1.author {
	font-size: 24pt;
	font-weight: normal;
}

h2 {
	font-family: "Lucida Handwriting";
	font-style: italic;
	color: gray;
	font-size: 16pt;
}

h3 {
	font-family: "Lucida Handwriting";
	font-style: italic;
	color: gray;
	font-size: 16pt;
}

a {
	font-weight: bold;
}

/* deka: removed p.selector */

p {
	text-indent: 2.35em;
}